<!DOCTYPE html>
<html lang="en">

<head>
  <title>SPN</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="shortcut icon" href="/images/icons/fav.png" />
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/ss-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/endor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/css/util.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/mq.css">
  <link rel="stylesheet" type="text/css" href="/css/demo.css" />
  <link rel="stylesheet" type="text/css" href="/css/style3.css" />
  <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
  <!--===============================================================================================-->
</head>

<body>

{{> _navbar}}
  <div class="container">
    {{> _msg}}
    {{> _errors}}
    {{{body}}}
  </div>


  <!--===============================================================================================-->
  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  <script src="/vendor/daterangepicker/moment.min.js"></script>
  <script src="/vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  <script src="/vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  <script src="/js/main.js"></script>
    <script>
      $(document).ready(() => {
        $('.button-collapse').sideNav();
        $('select').material_select();
      });

      CKEDITOR.replace('details', {
          on: {
            // maximize the editor on startup
            'instanceReady': function (evt) {
              evt.editor.resize("100%", $("#texteditor").height());
            }
          }
        });

    </script>
  
</body>

</html>
