<div class="jumbotron">
  <form action="/ideas" method="post">

    <div class="input-group mb-3">
      <input class="form-control" type="text" name="title">
      <label for="title">Title</label>
    </div>




    <div class="input-group" id="texteditor">
      <textarea class="form-control" style="max-width: 100%;" name="details"></textarea>
      
    </div>

    <input type="submit" value="Save" class="btn">
  </form>
</div>
